### Working with Text Data and agument specifiers

In [2]:
product_category = ['A','B']
print("This item is from product category " + product_category[0])

This item is from product category A

In [3]:
print('This item is from product category "%s".' % product_category)

This item is from product category "['A', 'B']".

In [4]:
quantities = [500,600]

In [5]:
i = 1
print('We currently have %d units of product %s category' % (quantities[i],product_category[i]))

We currently have 600 units of product B category

### Python String Methods

In [6]:
s = 'Price per unit'
s

'Price per unit'

In [7]:
s1 = s.replace('Price','Cost')
s1

'Cost per unit'

In [8]:
s1.startswith('Cost')

True

In [24]:
s1.endswith('nit')

True

In [10]:
s1.split()

['Cost', 'per', 'unit']

In [11]:
len(s1.split())

3

In [39]:
s2 = s1.split(' ')
s2

['Cost', 'per', 'unit']

In [40]:
len(s2)

3

### Using Various Python String Methods

In [13]:
s3 = 'Mrs. Amy Moore'

In [14]:
s3.upper()

'MRS. AMY MOORE'

In [15]:
s3.lower()

'mrs. amy moore'

In [16]:
s3.capitalize()

'Mrs. amy moore'

In [17]:
s3.title()

'Mrs. Amy Moore'

In [18]:
s4 = '    quarterly earnings report    '

In [19]:
s4.strip()

'quarterly earnings report'

In [25]:
s4.lstrip()

'quarterly earnings report    '

### Using String Accessors

In [27]:
import pandas as pd

C:\Users\clement olisa kizito\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [28]:
operational_kpis = pd.Series(["employee satisfaction rating","employee churn rate"])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [29]:
operational_kpis.lstrip("employee")

AttributeError: 'Series' object has no attribute 'lstrip'

In [30]:
operational_kpis[0].lstrip("employee")

' satisfaction rating'

In [31]:
operational_kpis[1].lstrip("employee")

' churn rate'

In [32]:
pd.Series([operational_kpis[0].lstrip("employee"),operational_kpis[1].lstrip("employee")])

0     satisfaction rating
1              churn rate
dtype: object

In [33]:
operational_kpis.str

In [34]:
operational_kpis.str[1]

0    m
1    m
dtype: object

In [35]:
operational_kpis[1]

'employee churn rate'

In [36]:
operational_kpis.str.lstrip("employee")

0     satisfaction rating
1              churn rate
dtype: object

In [41]:
test_series = pd.Series(["Text_data", 34])
test_series

0    Text_data
1           34
dtype: object

In [42]:
test_series.str.lstrip("Text_")

0    data
1     NaN
dtype: object

In [43]:
house_prices = pd.Series(['$400,000','$500,000','$600,000'])
house_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [44]:
house_prices.str.contains("$")

0    True
1    True
2    True
dtype: bool

### Using the .format() Method

In [21]:
time_horizon = 1,3,12
time_horizon

(1, 3, 12)

In [22]:
products = ['Product A','Product B']
products

['Product A', 'Product B']

In [46]:
'Expected sales for a period of {} months(s) for {}'.format(time_horizon[2],products[1])

'Expected sales for a period of 12 months(s) for Product B'

In [48]:
'Expected sales for a period of {2} months(s) for {1}'.format(time_horizon[2],products[1])

IndexError: tuple index out of range

## Must Know Python Tools

#### Iterating over range objects

In [7]:
t = (4,5,6,7,7)
t

(4, 5, 6, 7, 7)

In [2]:
l = [10.5,11.8,12.4,9.3]
l

[10.5, 11.8, 12.4, 9.3]

In [3]:
s = 'abcdef'
s

'abcdef'

In [8]:
for i in t:
    print(i, end = " ")

4 5 6 7 7

In [10]:
for i in range(1,10):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9

### Nested For Loops

In [11]:
for i in range(2):
    print(i)

0
1

In [12]:
for j in range(5):
    print(j)

0
1
2
3
4

In [15]:
for i in range(2):
    for j in range(5):
        print(j, end = ' ')

0 1 2 3 4 0 1 2 3 4

In [20]:
for i in range(2):
    for j in range(5):
        print([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [21]:
for i in ['Product A', 'Product B']:
    for j in range(5):
        print([i,j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [22]:
products = ['Product A', 'Product B']
exp_sales = [10000,11000,12000]

In [23]:
for i in products:
    for j in exp_sales:
        print([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]

### Tripple Nested For Loops

In [24]:
time_horizon = (1,3,12)

In [25]:
for i in products:
    for j in exp_sales:
        for k in time_horizon:
            print([i,j*k])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]

In [26]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print([prod,sale*t_hor])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]

In [28]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale*t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000

In [29]:
for prod in products:
    for t_hor in time_horizon:
        for sale in exp_sales:
            print('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale*t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 12 month(s) for Product B: $144000

### List Comprehensions

In [30]:
numbers = [1,13,4,5,63,100]
numbers

[1, 13, 4, 5, 63, 100]

In [31]:
new_numbers = []

for items in numbers:
    new_numbers.append(items*2)

In [32]:
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [34]:
new_numbers = [items*3 for items in numbers]
new_numbers

[3, 39, 12, 15, 189, 300]

In [40]:
for i in range(2):
    for j in range(5):
        print(i+j, end = ' ')

0 1 2 3 4 1 2 3 4 5

In [41]:
new_list_comprehension_1 = [i+j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [42]:
type(new_list_comprehension_1)

list

In [43]:
print(new_list_comprehension_1)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [56]:
new_list_comprehension_2 = [[i+j for i in range(2)] for j in range(5)]
new_list_comprehension_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [46]:
type(new_list_comprehension_2)

list

In [47]:
type(new_list_comprehension_1[1])

int

In [48]:
type(new_list_comprehension_2[1])

list

In [57]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
[num**3 for num in range(1,11) if num % 2 != 0]

[1, 27, 125, 343, 729]

In [62]:
[num**3 if num % 2 !=0 else 'even' for num in range(1,11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

### Lambda Functions in Python

In [63]:
def raise_to_the_power_of_2(x):
    return x**2

In [64]:
raise_to_the_power_of_2(3)

9

In [65]:
lambda x: x**4

In [66]:
raise_to_the_power_of_2_lambda = lambda x: x**4

In [67]:
raise_to_the_power_of_2_lambda(4)

256

In [68]:
(lambda x: x / 2) (16)

8.0

In [69]:
sum_xy = lambda x , y: x + y
sum_xy(2,3)

5

In [70]:
sum_xy = lambda x , y: x + y(x)

In [71]:
sum_xy(2,3)

TypeError: 'int' object is not callable

In [72]:
sum_xy(3, lambda x: x*4)

15