In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.3.2'

In [5]:
products = ['A','B','C','D']
products

['A', 'B', 'C', 'D']

In [6]:
type(products)

list

In [8]:
product_categories = pd.Series(products)

In [9]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [10]:
type(product_categories)

pandas.core.series.Series

In [11]:
product_categories[1]

'B'

In [12]:
dollars = [40,45,50,60]

In [14]:
daily_rate = pd.Series(dollars)

In [15]:
daily_rate

0    40
1    45
2    50
3    60
dtype: int64

In [16]:
print(daily_rate)

0    40
1    45
2    50
3    60
dtype: int64

In [17]:
import numpy as np

In [18]:
array_a = np.array([10,20,30,40,50])
array_a

array([10, 20, 30, 40, 50])

In [19]:
type(array_a)

numpy.ndarray

In [20]:
series_a = pd.Series(array_a)

In [21]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

Attributes in Pandas

In [22]:
series_a.dtype

dtype('int32')

In [23]:
series_a.size

5

In [24]:
len(series_a)

5

In [26]:
product_categories.dtype

dtype('O')

In [27]:
type(product_categories.size)

int

In [28]:
product_categories.name

In [29]:
print(product_categories.name)

None

In [30]:
product_categories.name = 'Product Categories'

In [31]:
product_categories

0    A
1    B
2    C
3    D
Name: Product Categories, dtype: object

In [32]:
product_categories.name

'Product Categories'

In [33]:
print(product_categories.name)

Product Categories

Python Indexing

In [34]:
prices_per_category = {'Product A': 22250, 'Product B' : 16600, 'Product C':15600}
prices_per_category

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [35]:
type(prices_per_category)

dict

In [36]:
prices_per_category = pd.Series(prices_per_category)

In [37]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [38]:
prices_per_category.name = "Price Category"

In [39]:
prices_per_category

Product A    22250
Product B    16600
Product C    15600
Name: Price Category, dtype: int64

In [40]:
type(prices_per_category)

pandas.core.series.Series

In [41]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [42]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

In [45]:
prices_per_category.index[2]

'Product C'

In [50]:
prices_per_category['Product A']

22250

## Label Based Vs Position-Based Indexing

In [51]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [52]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [53]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [54]:
list(series_a.index)

[0, 1, 2, 3, 4]

## More on Working with Indexes in Python

In [61]:
series_b = pd.Series(array_a, index = [1,2,3,4,5])

In [62]:
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int32

In [65]:
series_b[1:3]

2    20
3    30
dtype: int32

## Using Methods in Python

In [66]:
start_date_deposits = {
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
}

In [68]:
start_date_deposits = pd.Series(start_date_deposits)
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [69]:
start_date_deposits.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64>

In [70]:
start_date_deposits.sum()

29500

In [71]:
start_date_deposits.min()

1000

In [72]:
start_date_deposits.max()

4000

In [75]:
start_date_deposits.idxmax()

'9/3/2015'

In [79]:
print(start_date_deposits.idxmax(), start_date_deposits.max())

9/3/2015 4000

In [80]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [81]:
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

## Parameters Vs Arguments

In [84]:
start_date_deposits.head(20)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

## Introduction to DataFrmes

In [88]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice': [22250,16600,12500]}

In [94]:
Product_Data = pd.DataFrame(data)
Product_Data

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [98]:
Product = ['Product A','Product B','Product C']
Price = [22250,16600,12500]
Product_ID = ['A','B','C']

In [106]:
New_Data = {'ProductName': Product, 'ProductPrice': Price}

In [107]:
New_Data

{'ProductName': ['Product A', 'Product B', 'Product C'],
 'ProductPrice': [22250, 16600, 12500]}

In [108]:
New_Product_Data = pd.DataFrame(New_Data, index = Product_ID)

In [109]:
New_Product_Data

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [116]:
series_products = pd.Series(Product, index = Product_ID)
series_price = pd.Series(Price, index = Product_ID)

In [117]:
series_products

A    Product A
B    Product B
C    Product C
dtype: object

In [118]:
series_price

A    22250
B    16600
C    12500
dtype: int64

In [119]:
series_Data = {'ProductName': series_products, 'ProductPrice': series_price}

In [120]:
df_Product_Data = pd.DataFrame(series_Data)

In [121]:
df_Product_Data

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500