In [3]:
10!=20

True

In [4]:
10 =! 10

SyntaxError: can't assign to literal (<ipython-input-4-67d0a92cc519>, line 1)

In [5]:
True and True

True

In [6]:
True and False

False

In [7]:
True or False

True

In [8]:
20 is 5

False

In [9]:
13 is not 5

True

In [10]:
if 5 == 15/3:
    print("Hooray!")

Hooray!

In [1]:
if 5 == 18/3:
    print("Hooray!")

In [13]:
x = 1

if x > 3:
    print("Case 1")
else:
    print("Case 2")

Case 2

In [14]:
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [16]:
print(compare_to_five(10))

Greater

In [17]:
def simple():
    print("My first Function")

In [18]:
simple()

My first Function

In [19]:
def plus_ten(a):
    return a + 10

In [20]:
plus_ten(7)

17

In [26]:
def wage(working_hours):
    print("Your Wage is:")
    return working_hours * 25

def wage_with_bonus(working_hours):
    print("Your wage with Bonus is:")
    return wage(working_hours) * 1.5

In [32]:
wage(8), wage_with_bonus(5)

(200, 187.5)

In [52]:
def Johnny_savings(amount):
    if amount >= 100:
        savings = amount + 10
        return savings
    else:
        print("Johnny should save more")
        return amount

In [53]:
Johnny_savings(101)

111

In [54]:
Johnny_savings(90)

Johnny should save more

90

In [55]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']

In [56]:
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [58]:
Participants[1]

'Leila'

In [59]:
Participants[2] = 'Maria'

In [60]:
Participants

['John', 'Leila', 'Maria', 'Cate']

In [61]:
del Participants[2]

In [62]:
Participants

['John', 'Leila', 'Cate']

In [63]:
Participants.append("Dwayne")

In [64]:
Participants

['John', 'Leila', 'Cate', 'Dwayne']

In [65]:
len(Participants)

4

In [66]:
Participants.extend(['George', 'Esther'])
Participants

['John', 'Leila', 'Cate', 'Dwayne', 'George', 'Esther']

In [68]:
Participants.sort()
Participants

['Cate', 'Dwayne', 'Esther', 'George', 'John', 'Leila']

In [69]:
Participants.sort(reverse = True)
Participants

['Leila', 'John', 'George', 'Esther', 'Dwayne', 'Cate']

In [70]:
dict = {'k1' : "Cat", 'k2' : "Dog"}

For Loops

In [1]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [5]:
for a in even:
    print(a, end = " ")

0 2 4 6 8 10 12 14 16 18 20

While Loop

In [6]:
x = 0
while x <= 20:
    print(x, end = " ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

Create Lists with the range Function

In [7]:
range(10)

range(0, 10)

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list(range(0,22,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Conditional Statements and Loops

In [12]:
for n in range(21):
    print(2**n, end = " ")

1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768 65536 131072 262144 524288 1048576

In [14]:
for n in range(21):
    if n % 2 == 0:
        print(n, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd 20

In [15]:
x = [5,8,2,7,1]

In [18]:
for item in range(len(x)):
    print(x[item], end = " ")

5 8 2 7 1

Conditional Statements, Functions and Loops

In [25]:
def count_Items(x):
    total = 0
    for n in x:
        if n <=20:
            total += 1
    return total

In [26]:
List_1 = list(range(0,30,2))

In [27]:
List_1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [28]:
count_Items(List_1)

11

Iterating over a Dictionary

In [29]:
Prices = {}
Prices['Box_of_Spaghetti'] = 4
Prices['lasgna'] = 5
Prices['hamburger'] = 2

Quantity = {}
Quantity['Box_of_Spaghetti'] = 6
Quantity['lasgna'] = 10
Quantity['hamburger'] = 0

print(Prices)
print(Quantity)

{'Box_of_Spaghetti': 4, 'lasgna': 5, 'hamburger': 2}
{'Box_of_Spaghetti': 6, 'lasgna': 10, 'hamburger': 0}

In [31]:
money_spent = 0

for n in Prices:
    money_spent = money_spent + Prices[n] * Quantity[n]


print(money_spent)

74

Object Oriented Programming

In [2]:
A = "a","b"

In [3]:
A

('a', 'b')

In [4]:
print(A)

('a', 'b')

In [40]:
for i in A:
    print(i)

a
b

In [6]:
A[1:]

('b',)

In [7]:
B = [2,4,6]
C = [1,3,5]

In [8]:
'B + C'

'B + C'

In [9]:
B+C

[2, 4, 6, 1, 3, 5]

In [10]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [11]:
d = {"Craig":40, "Sizwe":45}
print(list(d.keys()))

['Craig', 'Sizwe']

In [12]:
round(0.5) - round(-0.5)

0

In [13]:
True and False

False

In [14]:
True or False

True

In [15]:
students = ["janneman", "jordan", "john", "jacob", "james"]

for i in range(len(students)):

      if students[i][-1] != 'n' and students[i][1] == 'a':

           print(students[i])

jacob
james

In [19]:
if 35 < 25: 
    print(True)
else:
    print('False')

False

In [20]:
type(print('False'))

False

NoneType

In [25]:
name = ['joe', 'soap', 'john', 'doe']
for i in name:
    i.upper()
print(name)

['joe', 'soap', 'john', 'doe']

In [26]:
x = (i for i in range(3))

for i in x:

    print(i)

for i in x:

    print(i)

0
1
2

In [28]:
def add(x,y):
    x+y add(1,2)

SyntaxError: invalid syntax (<ipython-input-28-e8f27a944dbd>, line 2)

In [29]:
def multiply(x,y):

    return x*y

multiply()

TypeError: multiply() missing 2 required positional arguments: 'x' and 'y'

In [30]:
def divide(x,y)

    return x/y 

divide(6,3)

SyntaxError: invalid syntax (<ipython-input-30-9ec6ee2e81bf>, line 1)

In [31]:
def equate(x,y): 

    return (x**y)/8

In [32]:
equate(2,64)

2.305843009213694e+18

In [33]:
equate(64,2)

512.0

In [34]:

def factorial(n):

      if n == 1: 

          return n

      else: 

          return n * factorial(n-1)

In [45]:
factorial(6)

720

In [39]:
None = True

SyntaxError: can't assign to keyword (<ipython-input-39-77f9c7c0c953>, line 1)

In [41]:
"jack " != "jack"

True

In [42]:
a  = {“Craig”:10, “Sizwe”:20}

print a

SyntaxError: invalid character in identifier (<ipython-input-42-8026612958b5>, line 1)

In [43]:
print('Doubles to begin, and singles to end?')

Doubles to begin, and singles to end?

In [44]:
a  = {“Craig”:10, “Sizwe”:20}

print a

SyntaxError: invalid character in identifier (<ipython-input-44-8026612958b5>, line 1)